*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    width: 100%;
    background-color: #d7f8ff;
    border-radius: 50px;
}

a{
    text-decoration: none;
}

.container{
    max-width: 66vw;
    padding: 2rem 1rem;
    margin: 0 auto;
    border-radius: 50px;
    background-color: #a6e0e7;
}
.header-container{
    background-color: #E3FDFD;
    height: 30rem;
    margin-bottom: 4rem;
    padding: 0 auto;
    border-radius: 50px;
}
.logo{
    position: relative;
    height: 15rem;
    
}
.header-title{
    height: 100px;
    font-family: "Cabin Sketch", sans-serif;
    font-size: 4rem;
    margin-bottom: 1rem;
    line-height: 2rem;
    text-align: center; 
    
}
.header-desc{
    font-family: "Cabin Sketch", sans-serif;
    font-size: 2rem;
    max-width: 1000px; 
    margin: 0 auto;
    text-align: center;
}

.main-container{
    display: grid;
    gap: 7rem;
    grid-template-columns: repeat(auto-fit,minmax(350px, 400px));
    justify-content: center;
}
@media (min-width:935px) {
    .main_container{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width:1380px) {
    .main_container{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (min-width:1945px) {
    .main_container{
        grid-template-columns: repeat(4, 1fr);
    }
}
.card-container{
    width: 25rem;
    height: 50rem;
    overflow: hidden;
    background-color: #E3FDFD;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 7px solid #89c7cf;
    border-radius: 50px;
    padding: 10px;
}
.card-img-container{
    position: relative;
    overflow: hidden;
    height: 25rem;
    border-radius: 50px;
    
}
.card-image1{
    object-fit: cover;
    object-position: center;
    position:absolute;
    height: 100%;
    width: 100%;
    border-radius: 50px;
}
.cardtitle-container{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
.card-container:hover .card-image1{
    border-radius: 50px;
    transform: scale(1.2);
    transition-duration: 200ms;
}
.card-title{
    font-family: "Varela Round", sans-serif;
    font-size: 2rem;
    font-weight: 600;
    line-height: 2rem;
    margin-bottom: 0.3rem;
    color: black;
}
.card-title-hover:hover .card-title{
    color: rgb(37, 37, 229);
}
.card-desc{
    font-family: "Gabarito", sans-serif;
    font-size: 1.5rem;
}
.footer-container{
    display: flex;
    justify-content: space-between;
    padding: 1rem 0.5rem;
    margin-top: rem;
    
}
.author-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
}
.author-avatar{
    height: 3rem;
    width: 3rem;
    overflow: hidden;
    border: 6px solid  #89c7cf;
    border-radius: 50%;
    background-color:  #d7f8ff;
    
}
.author-info-container{

    border: 6px solid #89c7cf;
    padding: 2px 2px 2px 2px;
    border-radius: 20px;
    display: flex;
    flex-direction: column ;
}
.author-name{
    font-family: "Gabarito", sans-serif;
    font-size: 1.2rem;
    padding: 5px 5px;
    margin-bottom: 5px;
    color: #1b7694;
}
.author-date{
    font-family: "Gabarito", sans-serif;
    font-size: 1.2rem;
    color: #1b7694;
}
.card-tag-container{
    font-family: "Gabarito", sans-serif;
    color: #1b7694;
    font-size: 1.2rem;
    border: 6px solid #89c7cf;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 10px;
    margin-right: 0px;
    padding: 8px 8px 8px 8px;
    
}
.end-container{
    background-color: #E3FDFD;
    margin-top: 10rem;
   
    border-radius: 50px;
}
.end-title{
    height: 100px;
    font-family: "Cabin Sketch", sans-serif;
    font-size: 4rem;
    margin-bottom: 3rem;
    margin-top: 0;
    line-height: 2rem;
    text-align: center; 
    
}